#profile-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#update-profile-container {
    margin: 10px;
}

#update-button {
    background-color: #eda407;
    margin: 10px;
    border: none;
    margin-bottom: 100px;
}

#delete-button {
    background-color: #eda407;
    margin: 10px;
    border: none;
    margin-bottom: 100px;
}

#remove-button {
    background-color: #eda407;
    margin: 10px;
    border: none;
    margin-bottom: 20px;
    font-size: 12px;
}

#profile-movies-card {
    margin: 10px;
}

.favorite-movie {
    min-height: 480px;
}