#movie-view {
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 10px;
}

#movie-view-button {
    background-color: #eda407;
    margin: 10px;
    border: none;
    margin-bottom: 100px;
}

#add-favorite-button {
    background-color: #eda407;
    margin: 10px;
    border: none;
    margin-bottom: 100px;
}

#movie-view-image {
    height: auto;
    width: auto;
    margin-bottom: 20px;
}