#login-card {
    box-sizing: border-box;
    padding: 15px;
    margin-top: 80px;
    margin-bottom: 30px
}

#login-button {
    background-color: #eda407;
    margin-top: 10px;
    margin-bottom: 10px;
}

#register-button {
    background-color: #eda407;
    font-size: 12px;
}